<%unless comments == nil%>
	<%comments.each do |comment|%>
		<%if line_id.to_s == comment.line_id.to_s && comment.content != ""%>
			<p><%=comment.content%></p>
			  <%=button_to "+", '/comments/'+comment.id.to_s+'/upvote', :method => "put"%>
 			  <%= comment.votes %>  
 			  <%=button_to "-", '/comments/'+comment.id.to_s+'/downvote', :method => "put"%>
		<%end%>	
	<%end%>
<%end%>